h1 {
  font-size: 40px;
  font-style: italic;
  color: white;
  font-family: "Shadows Into Light";
}
body {
  font-family: 'helvetica neue', arial, sans-serif;
  font-weight: 300;
  color: white;
  background: url(blue.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}
#wrapper {
  width: 960px;
  margin: 100px auto;
}
