h1 {
  font-size: 50px;
  font-family: "arial" ;
}

h2{ 
  font-size: 30px;
  font-family: "Shadows Into Light";
  }
h3{ 
  font-size: 30px;
  color: white;
  font-family: "Shadows Into Light";
  }
body {
  font-family: 'Shadows into Light', arial, sans-serif;
  font-style: italic;
  color: white;
  font-weight: 300;
  background: url(blue.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}
div#wrapper{
	background-color: white;
	width: 960px;
	margin: 20px auto;
	padding: 20px;
	opacity:.8;
}
.jumbotron{
	background: white;
	color: black;
}